.card {
  max-width: 400px;
}

/*.example-header-image {
  background-image: url('https://chauchatraderpro.cl/img/gravatar01.jpg');
  background-size: cover;
}*/



.content-card p{
	margin: 20px;
}

.header-card{
	background-color: #963F48;
	padding: 10px 10px 10px 10px;
	color:white;
	font-size: 15pt;
	text-align: center;
}

.title-internal-card{
	font-size: 14pt;
	margin: 25px;	
	font-weight: bold;
	color: #963F48;
}




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td, th {
  border: 1px solid #dddddd;
  padding: 15px 35px 15px 18px;
}

th{
	text-align: center;
}
td{
	text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}