<div style="margin:10px;border: 1px solid #363636;">
	

<mat-card class="card">
  <div class="header-card">
    <div class="title-card">
      Donaciones
    </div>
  </div>
  <mat-card-content class="content-card">
    <p>
    	Chaucha Trader Pro es el resultado de un arduo trabajo de varias semanas, para que todos puedan tener un producto de excelencia y gratuito para la comunidad.

    </p>
    <p>
    	Con este mismo ánimo y para ayudarme también a seguir con el proyecto, te dejo mis diferentes wallets, en caso que desees realizarme algún aporte voluntario. Cualquier aporte es bienvenido, por mínimo que sea.
    </p>

    <div style="overflow-x:auto;margin:10px">
    <table align="center">
	  <tr>
	    <th>Crypto</th>
	    <th>Wallet</th>
	  </tr>
	  <tr>
	    <td>Chaucha</td>
	    <td>ceoNBCv1JF6GgeAhsFLk6efbRkCX5n8kZn</td>
	  </tr>
	  <tr>
	    <td>Bitcoin</td>
	    <td>1CWpA2XnFnfTnbAJN94MpQWyunJgoKYz8K</td>
	  </tr>
	  <tr>
	    <td>Ethereum</td>
	    <td>0x9f2688B1a76CC24dA8610E90767c319fb2EA2Af0</td>
	  </tr>
	  <tr>
	    <td>Litecoin</td>
	    <td>LVBocBQpqD7FrXiUNrAtrkQtw1JdG6CBQt</td>
	  </tr>
	  <tr>
	    <td>Bitcoin Cash</td>
	    <td>14X2cEXpT6BLhFtFhYizCdUgoKtAXede4Z</td>
	  </tr>	 
	</table>
	</div>
  

	    
	  </mat-card-content>
	  <mat-card-actions>
	    <button mat-button>LIKE</button>
	    <button mat-button>SHARE</button>
	  </mat-card-actions>
	</mat-card>

</div>