<div style="margin:10px;border: 1px solid #363636;">
	

<mat-card class="card">
  <div class="header-card">
    <div class="title-card">
      CoinMarketCap
    </div>
  </div>
  <mat-card-content class="content-card">
    <p>
    	El sitio web <a href="https://coinmarketcap.com/">CoinMarketCap</a> nos provee de información sobre una gran variedad de monedas a nivel global, tales como su valor, total de monedas en circularización, el volumen de las últimas 24 horas o la capitalización total de mercado.
    </p>
    <p>
    	Con <i>Chaucha Trader Pro</i> Podrás ver los gráficos cambiando cada 5 minutos.
    </p>
    <p>
    	Los sistemas de CoinMarketCap buscan en un conjunto de Exchanges los montos transados en esas monedas, y es uno de los sitios más visitados en el mundo crypto.
    </p>
    <p>
    	Esta herramienta es de gran utilidad para estar atentos a los cambios de mercado y poder hacer mejores trades, todo en una sola app!
    </p>
    

    
    
	<!--div id="wrapper">
	  <div id="outer">
	    <div class="itemwrapper">
	      <img class="half-page-image" src="./assets/CoinMarketCap.jpg" alt="Configuraciones01">
	    </div>
	    <div class="itemwrapper">      
	      <img class="half-page-image" src="./assets/CoinMarketCap.png" alt="Configuraciones02">
	    </div>
	  </div>
	</div-->

	<div id="wrapper" style="text-align: center">
	  <!--div id="outer">
	    <div class="itemwrapper">
	      <img class="half-page-image" src="./assets/Configuraciones01.jpg" alt="Configuraciones01">
	    </div>
	    <div class="itemwrapper">      
	      <img class="half-page-image" src="./assets/Configuraciones02.jpg" alt="Configuraciones02">
	    </div>
	    <div class="itemwrapper">      
	      <img class="half-page-image" src="./assets/Configuraciones03.jpg" alt="Configuraciones03">
	    </div>
	  </div-->
	  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
	</div>

	    
	  </mat-card-content>
	  <!--mat-card-actions>
	    <button mat-button>LIKE</button>
	    <button mat-button>SHARE</button>
	  </mat-card-actions-->
	</mat-card>

</div>