<div style="margin:10px;border: 1px solid #363636;">
	

<mat-card class="card">
  <div class="header-card">
    <div class="title-card">
      Coin360
    </div>
  </div>
  <mat-card-content class="content-card">
    <p>
    	En esta sección podrás revisar los mapas de calor de <a href="https://coin360.com/">https://coin360.com/</a>
    </p>
    <!--div id="wrapper">
      <div id="outer">
        <div class="itemwrapper">
          <img class="half-page-image" src="./assets/Coin360-01.png" alt="Coin360-01">
        </div>
        <div class="itemwrapper">      
          <img class="half-page-image" src="./assets/Coin360-02.png" alt="Coin360-02">
        </div>
        <div class="itemwrapper">      
          <img class="half-page-image" src="./assets/Coin360-03.png" alt="Coin360-03">
        </div>
      </div>
    </div-->
    <div id="wrapper" style="text-align: center">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>

	    
	  </mat-card-content>
	  <!--mat-card-actions>
	    <button mat-button>LIKE</button>
	    <button mat-button>SHARE</button>
	  </mat-card-actions-->
	</mat-card>

</div>