.card {
  max-width: 400px;
}

/*.example-header-image {
  background-image: url('https://chauchatraderpro.cl/img/gravatar01.jpg');
  background-size: cover;
}*/



.content-card p{
	margin: 20px;
}

.header-card{
	background-color: #963F48;
	padding: 10px 10px 10px 10px;
	color:white;
	font-size: 15pt;
	text-align: center;
}

.title-internal-card{
	font-size: 14pt;
	margin: 25px;	
	font-weight: bold;
	color: #963F48;
}


.list{
	font-weight: bold;
	font-style: italic;
}

ul li{
	margin:10px;
}

#wrapper {
  max-width: 600px;
  margin: 60px auto 60px auto;
  background-color: #DDD;
  
}