<div style="margin:10px;border: 1px solid #363636;">
	

<mat-card class="card">
  <div class="header-card">
    <div class="title-card">
      Proyecto Chaucha
    </div>
  </div>
  <mat-card-content class="content-card">
    <p>

El <a href="https://www.chaucha.cl/">Proyecto Chaucha</a> es una organización enfocada en diseñar e implementar herramientas de software que permitan acercar de una manera amigable, e incluso lúdica, a personas con deseos de aprender sobre criptomonedas.
</p>
<p>
Al tener soluciones prácticas, esperamos que las personas interactúen e imaginen los potenciales que tiene esta tecnología, la tecnología blockchain.
</p><p>
Queremos ser pioneros en cuanto al desarrollo de soluciones blockchain. Queremos que chaucha sea la moneda por la cual instituciones públicas y privadas opten en desarrollo de soluciones descentralizadas, y por sobre todo, queremos ser un centro gravitacional, donde todas las preguntas con respecto a blockchain puedan ser resueltas, por los mismos que estamos constantemente dándole forma a los diferentes proyectos.
</p><p>
Te hago la invitación a que te nos unas en nuestro grupo en Telegram, y “le hables” a nuestra mascota @quirquincho.
</p><p>
Uno de los principales problemas que identificamos, es el bajo nivel de inglés de las personas, en Chile y América Latina. Es un problema ya que las soluciones tecnológicas no están siendo creadas en la región, y sentimos que nos estamos quedando atrás. Las grandes soluciones están siendo desarrolladas en los países más desarrollados, y por ende, también el conocimiento. Hoy, tenemos una oportunidad única para equilibrar esa balanza, siendo productores, y porqué no, exportadores de la tecnología del futuro.
</p><p>
Por último, te invito a visitar nuestro sitio de documentación generada por el proyecto chaucha, y no menos importante, veas los códigos fuente de nuestras soluciones utilizando blockchain. Como puedes ver, los códigos fuente están libres para que juegues con ellos. Si tienes dudas, siempre habrá alguien dispuesto a apoyar en tu descubrimiento.
</p><p>
Ignacio Álvarez.
<br>

@panterozo
    </p>
        
	  </mat-card-content>
	  <!--mat-card-actions>
	    <button mat-button>LIKE</button>
	    <button mat-button>SHARE</button>
	  </mat-card-actions-->
	</mat-card>

</div>


