<div style="margin:10px;border: 1px solid #363636;">
	

<mat-card class="card">
  <div class="header-card">
    <div class="title-card">
      Configuraciones
    </div>
  </div>
  <mat-card-content class="content-card">
    <p>
    	Las opciones de configuración de Chaucha Trader Pro te permitirán:
    </p>
    <ul style="list-style-type:disc;">
    	<li><span class="list">Tiempos de velas japonesas:</span> Cambia el valor de las velas, desde los 5 minutos hasta las velas semanales</li>
    	<li><span class="list">Moneda por defecto:</span> Se selecciona el par al iniciar la aplicación. Por defecto, viene el par CLP/CHA</li>
    	<li><span class="list">Actualizar mercados:</span> Esta sección permite actualizar los mercados una vez que sean incluidos al exchange</li>
    	<li><span class="list">Configuración por defecto:</span> Vuelve a la configuración por defecto de la aplicación</li>
    </ul>

    
    
	<div id="wrapper" style="text-align: center">
	  <!--div id="outer">
	    <div class="itemwrapper">
	      <img class="half-page-image" src="./assets/Configuraciones01.jpg" alt="Configuraciones01">
	    </div>
	    <div class="itemwrapper">      
	      <img class="half-page-image" src="./assets/Configuraciones02.jpg" alt="Configuraciones02">
	    </div>
	    <div class="itemwrapper">      
	      <img class="half-page-image" src="./assets/Configuraciones03.jpg" alt="Configuraciones03">
	    </div>
	  </div-->
	  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
	</div>
	


	    
	  </mat-card-content>
	  <!--mat-card-actions>
	    <button mat-button>LIKE</button>
	    <button mat-button>SHARE</button>
	  </mat-card-actions-->
	</mat-card>

</div>