<div style="margin:10px;border: 1px solid #363636;">
	

<mat-card class="card">
  <div class="header-card">
    <div class="title-card">
      ¡Te doy la Bienvenida!
    </div>
  </div>
  <mat-card-content class="content-card">
    <p>
    	Primero que todo, te doy la bienvenida a este proyecto que me ha traido tantas emociones. Espero que lo disfrutes tanto como yo al construirlo.
    </p>
    <p class="title-internal-card">
    	¿Qué es <i>Chaucha Trader</i>?
    </p>
    <p>
    	<i>Chaucha Trader</i> es una app desarrollada en Android Studio para revisar los mercados de criptomonedas disponibles en <a target="_blank" href="https://orionx.com/exchange/CHACLP">OrionX</a>.
    </p>
    <p class="title-internal-card">
    	¿Dónde puedo descargarla?
    </p>
    <p>
    	<i>Chaucha Trader</i> se encuentra disponible en la tienda de Google Apps en el siguiente <a target="_blank" href="https://play.google.com/store/apps/details?id=com.panterozo.chauchatraderpro">link</a>.
    </p>

    
    <p class="title-internal-card">
    	¿A qué debe su nombre?
    </p>
    <p>
      	El nombre <i>Chaucha Trader</i> fue dado a la aplicación por la aparición de la criptomoneda creada en Chile llamada <a target="_blank" href="https://www.chaucha.cl/">Chaucha</a>. Te invito a leer sobre el proyecto chaucha en la entrada dedicada <a target="_self" href="#/chauchaproject">aquí</a>.
    </p>
    <p>
    <p class="title-internal-card">
    	¿Cuales son las características de la app?
    </p>
    <p>




Ha sido un largo y a veces difícil camino, pero muy entretenido, y lo hago con mucho cariño. Me encuentro muy agradecido de la comunidad por las buenas opiniones y evaluaciones positivas que he recibido en Play Store. Por lo mismo, y como gran compromiso con la comunidad, les traigo la más grande actualización del <i>Chaucha Trader</i> Pro!.

Te invito a seguir leyendo para enterarte de las novedades ;).
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

</div>